@font-face {
    font-family: StarJedi;
    src: url(./font/Starjedi.ttf) format("truetype");
  }


body {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    background-color: black;
    background-image: url(./stars.jpg);
    background-repeat: repeat;
    background-size: contain;
    

}

.page_title {
    text-align: center;
    padding-top: .5rem;
    padding-bottom: 5rem;
    font-size: 4rem;
    text-shadow: 3px 2px 2px black;
    font-family: StarJedi;
    color: #feda4a;
}

li {
    list-style: none;
    border: 1px solid #feda4a;
    border-radius: .25rem;
    width: 50%;
    height: auto;
    margin: 5rem auto;
    background-color: black;
    box-shadow: 20px 20px 20px black;

}

.title {
    text-align: center;
    margin: 2rem auto;
    
    
}

.crawl {
    max-width: 500px;
    margin: -2rem auto 4rem auto;
    color: #feda4a;
    letter-spacing: 3px;
    line-height: 150%;
    transform-origin: 50% 100%;
    transform:perspective(400px) rotateX(20deg);
    
}

.director {
    text-align: center;
}

.producer {
    text-align: center;
}

.release_date {
    text-align: center;
}

.stream {
    display: inline-block;
    background-color: black;
    color: #feda4a;
    border: 1px solid #feda4a;
    text-decoration: none;
    padding: .5rem .5rem;
    margin: 2rem 3rem;
    border-radius: 5px;
    
   
}

.stream:hover {
   background-color: #feda4a;
   color: black;

   transition: .75s ease-out;
}


.buy {
    display: inline-block;
    background-color: black;
    color: #feda4a;
    border: 1px solid #feda4a;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 2rem 3rem;
    border-radius: 5px;
    float: right;
    
   
}

.buy:hover {
   background-color: #feda4a;
   color: black;

   transition: .75s ease-out;
}



@media only screen and (max-width: 1200px) {
    li {
      width: 80%;
    }
  }



@media only screen and (max-width: 700px) {

    .page_title {
        font-size: 3.25rem;
    }
    li {
      width: 90%;
    }
  }

  @media only screen and (max-width: 600px) {

    .page_title {
        font-size: 3rem;
    }
    li {
    width: 85vw;
    margin-left: -5%;
    }
    .crawl {
        width: 80vw;
    }
    
  }

  @media only screen and (max-width: 450px) {
    
    .page_title {
        font-size: 3rem;
        margin-bottom: -4rem;
    }
   
    .crawl {
        margin-top: -7rem;
        width: 75vw;
    }
    .title {
        font-size: 1.75rem;
    }
    .buy {
       margin-right: 1.5rem;
    }

    .stream {
        margin-left: 1.5rem;
    }
    
  }

  @media only screen and (max-width: 400px) {
    .buy {
        margin-right: 1rem;
     }
     .page_title {
        font-size: 2.5rem;
       
    }
    
    .crawl {
        margin-top: -8rem;
        width: 75vw;
        font-size: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .director {
        font-size: 1rem;
    }
    .producer {
        font-size: 1rem;
    }
    

    
  }

  @media only screen and (max-width: 350px) {
    .buy {
        margin-right: 1rem;
     }
     .page_title {
        font-size: 2.5rem;
       
    }
    .crawl {
        margin-top: -10rem;
        width: 75vw;
    }
    .title {
        font-size: 1.5rem;
    }
    .director {
        font-size: .75rem;
    }
    .release_date {
        font-size:  .75rem;
    }
    .producer {
        font-size: .75rem;
    }
    li {
        width: 90vw;
        margin-left: -15%;
    }
    

    
  }